@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Lilita+One&family=Pacifico&display=swap');
/* contacts section */
#form_main, #contacts_left_row{
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
}
#form_main{
    margin-top: 5%;
}

#contacts_left_row{
    margin-bottom: 10%;
    justify-content: left;
}
.name_email{
    justify-content: space-between;
}

form{
    display: block;
    width: 70%;
    align-items: center;
}
input[type="text"], input[type="email"], textarea, .btn{
    width: 100%;
    margin: 2%;
    padding: 2%;
}
textarea{
    height: 150px;
}
.phone-icon, .envelope-icon,.map-icon{
    font-size: 1.5rem;
    margin: 7%;
    color: aliceblue;
    background-color: #dc143c;
    height: 45px ;
    width: 45px;
    padding: 4%;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.phone-icon:hover, .envelope-icon:hover, .btn:hover,.map-icon:hover{
    background-color: #337cc5;

}
.btn{
    color: aliceblue;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    background-color: #dc143c;
}
.phone-icon a, .envelope-icon a, .map-icon a{
    color: aliceblue;
}
.phone-icon:hover a, .envelope-icon:hover a, .map-icon:hover a{
    color: aliceblue;
}
#sec_4{
    background-image: url(./images/homepage.png);
    background-size: cover;
}


.cv-section{
    display: flex;
    width: 100%;
    padding: 50px;
    justify-content: space-evenly;
}

.cv-sec-1{
    width: 350px;
    height: 300px;
    margin-top: 2%;
    gap: 1px;
}



.cv-sec-2{
    width: 350px;
    height: 60px;
    margin-top: 2%;
}

.download{
    padding: 20px;
    border-style: none;
    color:#fff;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    background-color: #dc143c;
}

.download:hover{
    background-color: #337cc5;
}
.cv-sec-1 img{
    background-size: cover;
    width: 100%;
    /* transform: scale(1.2); */
}