*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body{
    padding-top: 70px;
    background-color: rgba(95, 158, 160, 0.541);
}

#page{
    width: 90%;
    height: 95vh;
    margin-top: 50px;
    margin: auto;
    backdrop-filter: blur(3px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.247);
    background-color: rgba(0, 255, 255, 0.144);
}
.content{
    position: absolute;
    margin: 10px;
    width: 94%;
    height: 97%;
    border: 1px solid rgba(0, 0, 0, 0.288);
    background-color: rgba(255, 255, 255, 0.616);
}

.back-home{
    height: 40px;
    width: 40px;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.247);
    border-radius: 50%;
    right: 10px;
    text-align: center;
    position: absolute;
    top: 10px;
    cursor: pointer;
}
.back-home a li{
    padding: 12px;
    font-weight: bold;
}
