@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Lilita+One&family=Pacifico&display=swap');
*{padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    
}
a{
    color: black;
    cursor: pointer;
    text-decoration: none;
}
p{
    letter-spacing: .1em;
    line-height: 1.5em;
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-size: 2em;
}
h2{
    text-align: center;
    font-size: 2em;
    color: #dc143c;
    text-transform: uppercase;
}
.header_txt h2{
    color: #fff;
    font-size: 2.1em;
}
h3{
    text-transform: capitalize;
    font-weight: bold;
    color: #dc143c;
    font-size: 1em;
}

*::-webkit-scrollbar{
    display: none;
}
html, body{
    height: 100vh;
}
#profile-side{
    width: 30%;
    overflow: hidden;
    height: 100vh;
    position: fixed;
}
#profile-overlay{
    width: 30%;
    position: fixed;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.01));
}
.dix{
    width: 30%;
    position: fixed;
    height: 30vh;
    z-index: 1;
    background: linear-gradient(to top,rgba(0,0,0,0.9),rgba(255,255,255,0.01));
    bottom: 0px;

}
#profile-slide{
    width: 0;
    position: fixed;
    left: 30%;
    height: 100vh;
    overflow-x: hidden;
    background-color: whitesmoke;
    margin-top: 10vh;
    transition: all 0.5s ease-in-out;

}

.image-slide{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    background-size: contain;
    animation: slide 40s infinite;
}

    @keyframes slide {
    0% {
    left: 5px;
    }
    20% {
    left: -420px;
    }
    
    25% {
    left: -420px;
    }
    
    45% {
    left: -820px;
    }
    
    50% {
    left: -820px;
    }
    
    70% {
    left: -400px;
    }
    
    75% {
    left: -400px;
    }
    
    95% {
    left: 5px;
    }}



img{
    height: 100%;
    background-size: contain;
    background-repeat: none;
    width: 100%;
}
.header_txt{
    z-index: 1;
    bottom: 10%;
    line-height: 3rem;
    position: absolute;
    color: aliceblue;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
}
.open_slide,.close_slide{
    border-radius: 50%;
    position: fixed;
    top: 50vh;
    z-index: 900;
    text-align: center;
    margin-left:10px;
    padding: 4px;
    height: 45px;
    width: 45px;
    font-size: 2rem;
    color: #fff;
    transition: .2s ease-in-out;
    background-color: #635e5e;
    cursor: pointer;
}
.close_slide{
    display: none;
}
.open_slide:hover,.close_slide:hover{
    background-color: #337cc5;
}

.social_accounts{
    width: 100%;
    margin-top: 10%;
    text-align: center;
}
.social{
    margin: 0 0 10% 0;
    font-size: 1.2rem;
    display: block;
    font-weight: bold;
    color: black;
}
.social a{
    color: black;
}
.main{
    height: 100vh;
    width: 70%;
    float: right;
}
#navigation{
    /* background-color: ; */
    backdrop-filter: blur(1.5px);
    height: 10vh;
    z-index: 1000;
    width:  70%;
    transition: all 0.5s ease-in-out;
    position: fixed;

}

nav ul a:hover{
    color: #1f1f1f;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2%;
}
nav ul li{
    list-style: none;
}

.nav_btn{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: #635e5e;
    transition: 0.2s ease-in-out;
    text-transform: capitalize;
}

.tab{
    width: 70vw;
    background-color: rgba(0,0,0,0.01);
    height: 90vh;
    padding-top: 15vh;

}

/* about */
.about-me, .about-me2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.about-me2{
    margin: 0;
}
.about-about{
   
    width: 400px;
    /* background-color: #635e5e; */
    height: 300px;
}
.about-me-img{
    width: 200px;
    height: 150px;
    /* background-color: #635e5e; */

}
.about-me-img img{
    width: 100%;
    cursor: pointer;
    transition: .3s ease transform;
}
.about-me-img img:hover{
    transform: scale(1.1);
}

#top-nav,#close-top-nav,#open-top-nav{
    visibility: hidden;
}

.footer{
    width: 100%;
    height: 150px;
    bottom: 0;
    display: flex;
    left: 30%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #635e5e;
}
.footer div{
    height: 60px;
    width: 300px;
    align-items: center;
    text-align: center;
    /* background-color: #1f1f1f; */
}
.footer div a{
    font-size: 1.5em;
}