@media only screen and (max-width: 600px){
   #profile-side{
    width: 100%;
    height: 75vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
   }
   #profile-overlay,.dix{
    position: absolute;
    width: 100%;
   }
   #navigation,.open_slide,#frame_fa{
    display: none;
   }
   .tab,#scroll{
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
   }
   .about-me,#form_main,.cv-section,#frame_,#skill_icon{
    display: block;
   }
   .cv-section,.cv-sec-1{
      margin-top: 20px;
   }
   .skill-container{
      display: flex;
      width: 95%;
      margin-left: 10px;
      margin-top: 20px;
   }
   .project-section-section{
    height: 20%;
    width: 85%;
   }
   .project-section-section a{
    padding: 15px 25px;
   }
   .project-section-section div{
    width: 100px;
    height: 80px;
   }
   p{
      line-height: 1.2em;
      font-size: .9em;
   }
   h2{
      font-size: 1.3em;
      margin-bottom: 5px;
   }
   .about-about{
      width: 350px;
      height: 250px;
   }
   .about-about,#myChart2,.frame-,form,.cv-sec-1{
      margin: auto;
   }
   .about-me-img{
      width: 200px;
      height: 100px;
      padding: 5px;
      text-align: center;
   }
   .cv-sec-1,#myChart{
      width: 300px;
      height: 200px;
   }
   .cv-sec-1{
      margin-top: 50px;
   }
   #myChart{
      margin-left: 10px;
      width: 350px;
      margin-top: 20px;
      max-width: 350px;
      min-height: 250px;
   }
   #myChart2{
      max-width: 300px;
      height: 250px;
      width: 400px;
   }
   #contacts_left_row,.frame-{
      margin-bottom: 0;
      margin-top: 25px;
      
   }
   .phone-icon,.envelope-icon,.map-icon{
      padding: 3%;
   }

   #cont1_project{
      margin-left: 20px;
   }
   form{
      width: 85%;
      margin-left: 20px;
   }
   .main{
      width: 100%;
   }
   .cv-sec-2 a{
      margin-left: 60px;
   }
 
}